body {
  font-family: sans-serif;
  font-size: calc(16 * 100vh / 1200);
  color: #d9d9d9;
  background-color: #252525;
}

a {
  color: #bab19e;
  text-decoration: none;
}

h1 {
  font-size: 2em;
}

p {
  font-size: 1em;
}

article {
  padding: 1.25em 0px 1.25em;
  border-top: 1px solid #595755;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: row;
}

article p {
  margin: 0px;
}

button {
  font-size: 100%;
  border: 1px solid #bab19e;
  background-color: inherit;
  border-radius: 0.3em;
  color: #bab19e;
  padding: 0.5em 0.7em;
  margin: 0px 0px 0.3em;
  white-space: nowrap;
}

button:active {
  background-color: #bab19e;
  color: #252525;
}

div.main {
  min-width: 800px;
  width: min-content;
  margin: auto;
  background-color: #333233;
  padding-bottom: 1.25em;
  padding-top: 1.25em;
  padding-left: 3.1em;
  padding-right: 3.1em;
  border-radius: 2.2em;
}

.cl {
  clear: both;
}

.permalink {
  /* display: inline-block; */
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content > span {
  margin-top: 0.7em;
}

.content_top {
  flex: 1;
}

.time {
  margin: 0px;
}

.indent {
  margin: 0.7em 0px 0.7em 0.7em;
  padding: 0.7em 1em 0.7em 1em;
  border-left: 0.2em solid #666666;
  background-color: #282828;
  /* max-width: max-content; */
  /* width: 100%; */
}

.img_holder {
  width: max-content;
  height: max-content;
  float: right;
  overflow: hidden;
}

.thumb {
}

.nsfw_toggle {
  position: sticky;
  top: 1em;
  margin-left: calc(100% + 1em);
}

.nsfw {
  filter: blur(0.7em) grayscale(50%) saturate(50%);
  transition: all 0.5s;
}

.nsfw:hover {
  filter: none;
  margin: 0px;
}

#controls {
  display: flex;
}

input {
  font-size: 200%;
  flex: 1;
  margin-right: 20px;
  text-align: center;
  border: none;
  color: #bab19e;
  width: ;
  border-bottom: 1px solid  #bab19e;
  background-color: rgba(0, 0, 0, 0);
}
